<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
  </head>
  <body>
    <main class="min-h-screen flex justify-center items-center">
      <section>
        <form class="flex gap-2 flex-col w-[200px]" action="/" method="post">
          <label for="username">Username</label>
          <input
            name="username"
            class="border px-2 border-black"
            type="text"
            id="username"
            required
          />
          <label for="password">Password</label>
          <input
            name="password"
            class="border px-2 border-black"
            type="password"
            id="password"
            required
          />
          <div class="flex gap-2 justify-between">
            <button
              class="flex-1 px-4 border border-black hover:bg-gray-200"
              type="submit"
            >
              Login
            </button>
            <a
              href="/register"
              class="flex-1 px-4 border border-black hover:bg-gray-200"
            >
              Register
            </a>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
